body {
    margin: 10px;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    width: 100%;
    
}
button {
    border: #aaa;
}
body * {
    margin: 4px 0;
}

.container {
    width: 100%;
    display: inline-flex;
    overflow: auto;
}

#generation {
    display: inline;
    max-width: 720px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    
}
#placeholder {
    display: inline;
    margin: 10px;
    padding: 10px;
}

#foot a {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}

#canvas {
    background: #181818;
    position: relative;
}

.fill {
    display: flex;
    justify-content: center;
    width: 100%;
}

.break {
    display: flex;
    width: 100%;
}

:root {
    --fore-color: #fdfdfd;
    --secondary-fore-color: #f0f0f0;
    --back-color: #111;
    --secondary-back-color: #222;
    --blockquote-color: #f57c00;
    --pre-color: #1565c0;
    --border-color: #ddd;
    --secondary-border-color: #aaa;
    --heading-ratio: 1.19;
    --universal-margin: 0.5rem;
    --universal-padding: 0.5rem;
    --universal-border-radius: 0.125rem;
    --a-link-color: #65a0c7;
    --a-visited-color: #3985b7;
}
html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
a,
b,
input {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
html,
* {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}
* {
    font-size: 1rem;
}
body {
    margin: 0;
    color: var(--fore-color);
    background: var(--back-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: calc(1.5 * var(--universal-margin)) var(--universal-margin);
    font-weight: 500;
}
h1 {
    font-size: calc(
    1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) *
        var(--heading-ratio)
    );
}
h2 {
    font-size: calc(
    1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio)
    );
}
h3 {
    font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio));
}
h4 {
    font-size: calc(1rem * var(--heading-ratio));
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: calc(1rem / var(--heading-ratio));
}
p {
    margin: var(--universal-margin);
}
b,
strong {
    font-weight: 700;
}
a {
    text-decoration: none;
}
a:link {
    color: var(--a-link-color);
}
a:visited {
    color: var(--a-visited-color);
}
a:hover,
a:focus {
    text-decoration: underline;
}
@media screen and (min-width: 768px) {
    .col-md,
    [class^="col-md-"],
    [class^="col-md-offset-"],
    .row[class*="cols-md-"] > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 calc(var(--universal-padding) / 2);
    }
    .col-md,
    .row.cols-md > * {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    }
    .col-md-1,
    .row.cols-md-1 > * {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
    }
    .col-md-offset-0 {
    margin-left: 0;
    }
    .col-md-2,
    .row.cols-md-2 > * {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
    }
    .col-md-offset-1 {
    margin-left: 8.33333%;
    }
    .col-md-3,
    .row.cols-md-3 > * {
    max-width: 25%;
    flex-basis: 25%;
    }
    .col-md-offset-2 {
    margin-left: 16.66667%;
    }
    .col-md-4,
    .row.cols-md-4 > * {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
    }
    .col-md-offset-3 {
    margin-left: 25%;
    }
    .col-md-5,
    .row.cols-md-5 > * {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
    }
    .col-md-offset-4 {
    margin-left: 33.33333%;
    }
    .col-md-6,
    .row.cols-md-6 > * {
    max-width: 50%;
    flex-basis: 50%;
    }
    .col-md-offset-5 {
    margin-left: 41.66667%;
    }
    .col-md-7,
    .row.cols-md-7 > * {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
    }
    .col-md-offset-6 {
    margin-left: 50%;
    }
    .col-md-8,
    .row.cols-md-8 > * {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
    }
    .col-md-offset-7 {
    margin-left: 58.33333%;
    }
    .col-md-9,
    .row.cols-md-9 > * {
    max-width: 75%;
    flex-basis: 75%;
    }
    .col-md-offset-8 {
    margin-left: 66.66667%;
    }
    .col-md-10,
    .row.cols-md-10 > * {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
    }
    .col-md-offset-9 {
    margin-left: 75%;
    }
    .col-md-11,
    .row.cols-md-11 > * {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
    }
    .col-md-offset-10 {
    margin-left: 83.33333%;
    }
    .col-md-12,
    .row.cols-md-12 > * {
    max-width: 100%;
    flex-basis: 100%;
    }
    .col-md-offset-11 {
    margin-left: 91.66667%;
    }
    .col-md-normal {
    order: initial;
    }
    .col-md-first {
    order: -999;
    }
    .col-md-last {
    order: 999;
    }
}
@media screen and (min-width: 1280px) {
    .col-lg,
    [class^="col-lg-"],
    [class^="col-lg-offset-"],
    .row[class*="cols-lg-"] > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 calc(var(--universal-padding) / 2);
    }
    .col-lg,
    .row.cols-lg > * {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    }
    .col-lg-1,
    .row.cols-lg-1 > * {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
    }
    .col-lg-offset-0 {
    margin-left: 0;
    }
    .col-lg-2,
    .row.cols-lg-2 > * {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
    }
    .col-lg-offset-1 {
    margin-left: 8.33333%;
    }
    .col-lg-3,
    .row.cols-lg-3 > * {
    max-width: 25%;
    flex-basis: 25%;
    }
    .col-lg-offset-2 {
    margin-left: 16.66667%;
    }
    .col-lg-4,
    .row.cols-lg-4 > * {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
    }
    .col-lg-offset-3 {
    margin-left: 25%;
    }
    .col-lg-5,
    .row.cols-lg-5 > * {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
    }
    .col-lg-offset-4 {
    margin-left: 33.33333%;
    }
    .col-lg-6,
    .row.cols-lg-6 > * {
    max-width: 50%;
    flex-basis: 50%;
    }
    .col-lg-offset-5 {
    margin-left: 41.66667%;
    }
    .col-lg-7,
    .row.cols-lg-7 > * {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
    }
    .col-lg-offset-6 {
    margin-left: 50%;
    }
    .col-lg-8,
    .row.cols-lg-8 > * {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
    }
    .col-lg-offset-7 {
    margin-left: 58.33333%;
    }
    .col-lg-9,
    .row.cols-lg-9 > * {
    max-width: 75%;
    flex-basis: 75%;
    }
    .col-lg-offset-8 {
    margin-left: 66.66667%;
    }
    .col-lg-10,
    .row.cols-lg-10 > * {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
    }
    .col-lg-offset-9 {
    margin-left: 75%;
    }
    .col-lg-11,
    .row.cols-lg-11 > * {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
    }
    .col-lg-offset-10 {
    margin-left: 83.33333%;
    }
    .col-lg-12,
    .row.cols-lg-12 > * {
    max-width: 100%;
    flex-basis: 100%;
    }
    .col-lg-offset-11 {
    margin-left: 91.66667%;
    }
    .col-lg-normal {
    order: initial;
    }
    .col-lg-first {
    order: -999;
    }
    .col-lg-last {
    order: 999;
    }
}
label {
    padding: calc(var(--universal-padding) / 2) var(--universal-padding);
}
@media screen and (max-width: 767px) {
    .input-group.fluid {
    align-items: stretch;
    flex-direction: column;
    }
}
select {
    box-sizing: border-box;
    background: var(--input-back-color);
    color: var(--input-fore-color);
    border: 0.0625rem solid var(--input-border-color);
    border-radius: var(--universal-border-radius);
    margin: calc(var(--universal-margin) / 2);
    padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}
input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus,
select:hover,
select:focus {
    border-color: var(--input-focus-color);
    box-shadow: none;
}
input:not([type="button"]):not([type="submit"]):not([type="reset"]):invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus:invalid,
select:invalid,
select:focus:invalid {
    border-color: var(--input-invalid-color);
    box-shadow: none;
}
input:not([type="button"]):not([type="submit"]):not([type="reset"])[readonly],
textarea[readonly],
select[readonly] {
    background: var(--secondary-back-color);
}
select {
    max-width: 100%;
}
option {
    overflow: hidden;
    text-overflow: ellipsis;
}
:placeholder-shown {
    color: var(--input-fore-color);
}
::-ms-placeholder {
    color: var(--input-fore-color);
    opacity: 0.54;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button {
    overflow: visible;
    text-transform: none;
}
button,
[type="button"],
[type="submit"],
[type="reset"],
a.button,
label.button,
.button,
a[role="button"],
label[role="button"],
[role="button"] {
    display: inline-block;
    background: var(--button-back-color);
    color: var(--button-fore-color);
    /* border: 0.0625rem solid var(--button-border-color); */
    border-radius: var(--universal-border-radius);
    padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
    margin: var(--universal-margin);
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover,
button:focus,
[type="button"]:hover,
[type="button"]:focus,
[type="submit"]:hover,
[type="submit"]:focus,
[type="reset"]:hover,
[type="reset"]:focus,
a.button:hover,
a.button:focus,
label.button:hover,
label.button:focus,
.button:hover,
.button:focus,
a[role="button"]:hover,
a[role="button"]:focus,
label[role="button"]:hover,
label[role="button"]:focus,
[role="button"]:hover,
[role="button"]:focus {
    background: var(--button-hover-back-color);
    border-color: var(--button-hover-border-color);
}
input:disabled,
input[disabled],
textarea:disabled,
textarea[disabled],
select:disabled,
select[disabled],
button:disabled,
button[disabled],
.button:disabled,
.button[disabled],
[role="button"]:disabled,
[role="button"][disabled] {
    cursor: not-allowed;
    opacity: 0.75;
}
.button-group {
    display: flex;
    border: 0.0625rem solid var(--button-group-border-color);
    border-radius: var(--universal-border-radius);
    margin: var(--universal-margin);
}
.button-group > button,
.button-group [type="button"],
.button-group > [type="submit"],
.button-group > [type="reset"],
.button-group > .button,
.button-group > [role="button"] {
    margin: 0;
    max-width: 100%;
    flex: 1 1 auto;
    text-align: center;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.button-group > :not(:first-child) {
    border-left: 0.0625rem solid var(--button-group-border-color);
}
@media screen and (max-width: 767px) {
    .button-group {
    flex-direction: column;
    }
    .button-group > :not(:first-child) {
    border: 0;
    border-top: 0.0625rem solid var(--button-group-border-color);
    }
}
button.primary,
[type="button"].primary,
[type="submit"].primary,
[type="reset"].primary,
.button.primary,
[role="button"].primary {
    --button-back-color: #1976d2;
    --button-fore-color: #f8f8f8;
}
button.primary:hover,
button.primary:focus,
[type="button"].primary:hover,
[type="button"].primary:focus,
[type="submit"].primary:hover,
[type="submit"].primary:focus,
[type="reset"].primary:hover,
[type="reset"].primary:focus,
.button.primary:hover,
.button.primary:focus,
[role="button"].primary:hover,
[role="button"].primary:focus {
    --button-hover-back-color: #1565c0;
}
button.secondary,
[type="button"].secondary,
[type="submit"].secondary,
[type="reset"].secondary,
.button.secondary,
[role="button"].secondary {
    --button-back-color: #d32f2f;
    --button-fore-color: #f8f8f8;
}
button.secondary:hover,
button.secondary:focus,
[type="button"].secondary:hover,
[type="button"].secondary:focus,
[type="submit"].secondary:hover,
[type="submit"].secondary:focus,
[type="reset"].secondary:hover,
[type="reset"].secondary:focus,
.button.secondary:hover,
.button.secondary:focus,
[role="button"].secondary:hover,
[role="button"].secondary:focus {
    --button-hover-back-color: #c62828;
}
button.tertiary,
[type="button"].tertiary,
[type="submit"].tertiary,
[type="reset"].tertiary,
.button.tertiary,
[role="button"].tertiary {
    --button-back-color: #308732;
    --button-fore-color: #f8f8f8;
}
button.tertiary:hover,
button.tertiary:focus,
[type="button"].tertiary:hover,
[type="button"].tertiary:focus,
[type="submit"].tertiary:hover,
[type="submit"].tertiary:focus,
[type="reset"].tertiary:hover,
[type="reset"].tertiary:focus,
.button.tertiary:hover,
.button.tertiary:focus,
[role="button"].tertiary:hover,
[role="button"].tertiary:focus {
    --button-hover-back-color: #277529;
}
button.inverse,
[type="button"].inverse,
[type="submit"].inverse,
[type="reset"].inverse,
.button.inverse,
[role="button"].inverse {
    --button-back-color: #f8f8f8;
    --button-fore-color: #212121;
}
button.inverse:hover,
button.inverse:focus,
[type="button"].inverse:hover,
[type="button"].inverse:focus,
[type="submit"].inverse:hover,
[type="submit"].inverse:focus,
[type="reset"].inverse:hover,
[type="reset"].inverse:focus,
.button.inverse:hover,
.button.inverse:focus,
[role="button"].inverse:hover,
[role="button"].inverse:focus {
    --button-hover-back-color: #f0f0f0;
}
button.small,
[type="button"].small,
[type="submit"].small,
[type="reset"].small,
.button.small,
[role="button"].small {
    padding: calc(0.5 * var(--universal-padding))
    calc(0.75 * var(--universal-padding));
    margin: var(--universal-margin);
}
button.large,
[type="button"].large,
[type="submit"].large,
[type="reset"].large,
.button.large,
[role="button"].large {
    padding: calc(1.5 * var(--universal-padding))
    calc(2 * var(--universal-padding));
    margin: var(--universal-margin);
}
:root {
    --header-back-color: #111;
    --header-hover-back-color: #222;
    --header-fore-color: #f0f0f0;
    --header-border-color: #aaa;
    --nav-back-color: #111;
    --nav-hover-back-color: #222;
    --nav-fore-color: #f0f0f0;
    --nav-border-color: #aaa;
    --nav-link-color: #0277bd;
    --footer-fore-color: #f0f0f0;
    --footer-back-color: #111;
    --footer-border-color: #aaa;
    --footer-link-color: #0277bd;
    --drawer-back-color: #111;
    --drawer-hover-back-color: #222;
    --drawer-border-color: #aaa;
    --drawer-close-color: #f0f0f0;
}
header {
    height: 3.1875rem;
    background: var(--header-back-color);
    color: var(--header-fore-color);
    border-bottom: 0.0625rem solid var(--header-border-color);
    padding: calc(var(--universal-padding) / 4) 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
header.row {
    box-sizing: content-box;
}
header.row .logo {
    line-height: 1;
}
header .logo {
    color: var(--header-fore-color);
    font-size: 1.75rem;
    padding: var(--universal-padding) calc(2 * var(--universal-padding));
    text-decoration: none;
}
header button,
header [type="button"],
header .button,
header [role="button"] {
    box-sizing: border-box;
    position: relative;
    top: calc(0rem - var(--universal-padding) / 4);
    height: calc(3.1875rem + var(--universal-padding) / 2);
    background: var(--header-back-color);
    line-height: calc(3.1875rem - var(--universal-padding) * 1.5);
    text-align: center;
    color: var(--header-fore-color);
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
}
header button:hover,
header button:focus,
header [type="button"]:hover,
header [type="button"]:focus,
header .button:hover,
header .button:focus,
header [role="button"]:hover,
header [role="button"]:focus {
    background: var(--header-hover-back-color);
}
footer {
    background: var(--footer-back-color);
    color: var(--footer-fore-color);
    border-top: 0.0625rem solid var(--footer-border-color);
    padding: calc(2 * var(--universal-padding)) var(--universal-padding);
    font-size: 0.875rem;
}
footer a,
footer a:visited {
    color: var(--footer-link-color);
}
header.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1101;
    top: 0;
}
footer.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1101;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .responsive-margin {
    margin: calc(var(--universal-margin) / 2) !important;
    }
}
@media screen and (min-width: 1280px) {
    .responsive-margin {
    margin: var(--universal-margin) !important;
    }
}
.responsive-padding {
    padding: calc(var(--universal-padding) / 4) !important;
}
@media screen and (min-width: 768px) {
    .responsive-padding {
    padding: calc(var(--universal-padding) / 2) !important;
    }
}
@media screen and (min-width: 1280px) {
    .responsive-padding {
    padding: var(--universal-padding) !important;
    }
}
@media screen and (max-width: 767px) {
    .hidden-sm {
    display: none !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .hidden-md {
    display: none !important;
    }
}
@media screen and (min-width: 1280px) {
    .hidden-lg {
    display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .visually-hidden-sm {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    overflow: hidden !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .visually-hidden-md {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    overflow: hidden !important;
    }
}
@media screen and (min-width: 1280px) {
    .visually-hidden-lg {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    overflow: hidden !important;
    }
}