body {
    margin: 10px;
}

section {
    margin: 10px;
    padding: 10px;
    border: 1px;
    border-color: #858585;
    border-style: solid;
    border-radius: 5px;
}

#output, #placeholder {
    margin: 20px;
    padding: 10px;
    overflow-x: auto;
    display: inline-block;
}

#foot a {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
