body {
  background: black;
  margin: 0;
  color: black;
}

select {
  display: flex;
  font-size: 18px;
  padding-left: 6px;
  cursor: pointer;
  background: none;
  text-align: center;
  border: none;
  color: white;
  height: 56px;
  box-shadow: inset 0 0 2000px rgba(200,200,200,0.12);
  border-radius: 8px;
  width: 300px;
  margin-right: 16px;
}

select option {
  background: white;
}

canvas{
	border-style: solid;
	border-color: blue;
	margin: 50px;
}

.flex {
  background: white;
  display: flex;
}

.level {
  margin-bottom: 16px;
}
